{% extends 'base.html' %}

{% block nav %}
<nav>
<ul class="nav topnav">
<li><a href={{myadmin_curl}} >Admin Home</a></li>
<li><a href={{myadmin_curl}}manageusers/ >Manageusers</a></li>
<li><a href={{myadmin_curl}}addcat/ >Add Category</a></li>
<li><a href={{myadmin_curl}}addsubcat/ >Add Sub Category</a></li>
<!--<li><a href={{curl}}contact/ >Contact</a></li>
<li class="dropdown">
<a href={{curl}}service/ >Service
	<i class="icon-angle-down"></i>
</a>
<ul class="dropdown-menu">
<li>
	<a href="blog-left-sidebar.html">Latest News</a>
</li>
<li>
	<a href="blog-right-sidebar.html">Latest Events</a>
</li>
</ul>
</li>
<li><a href={{curl}}register/ >Register</a></li>-->
<li><a href=http://localhost:8000/login/ >Logout</a></li>
</ul>
</nav>
<br>
{% endblock %}

{% block sectionfeatured %}
<p>Welcome admin : {{sunm}}</p>
{% endblock %}

{% block sectioncontent %}
            
<h1>Welcome to FindUs Admin Panel</h1>            
<!-- write your content here -->
{% endblock %}



{% block footer %}
    <footer>
      
      <div id="sub-footer">
        <div class="container">
                {% block subfootercontainer %}

          <div class="row">
            <div class="span6">
              <div class="copyright">
                <p><span>&copy; Django_45 All right reserved 2019-2020</span></p>
              </div>

            </div>

            <div class="span6">
              <div class="credits">
               Designed by <a href="https://bootstrapmade.com/">DjangoBatch</a>
              </div>
            </div>
          </div>
          {% endblock %}
        </div>
      </div>
    </footer>
{% endblock %}    
<!-- end footer -->





