{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FindUs</title>
  <link href="/static/img/mylogo.png" rel="icon"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Your page description here" />
  <meta name="author" content="" />

  <!-- css -->
  <link href="https://fonts.googleapis.com/css?family=Handlee|Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="/static/css/bootstrap.css" rel="stylesheet" />
  <link href="/static/css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="/static/css/flexslider.css" rel="stylesheet" />
  <link href="/static/css/prettyPhoto.css" rel="stylesheet" />
  <link href="/static/css/camera.css" rel="stylesheet" />
  <link href="/static/css/jquery.bxslider.css" rel="stylesheet" />
  <link href="/static/css/style.css" rel="stylesheet" />
  <link href="/static/color/default.css" rel="stylesheet" />
</head>


<body>

  <div id="wrapper">

    <!-- start header -->
    <header>
      <div class="top">
        <div class="container">
          <div class="row">
            <div class="span6">
              <p class="topcontact"><i class="icon-phone"></i> +xx xxx xxx xxx</p>
            </div>
            <div class="span6">

              <ul class="social-network">
                <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-white"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-white"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-white"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-pinterest  icon-white"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Google +"><i class="icon-google-plus icon-white"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Dribbble"><i class="icon-dribbble icon-white"></i></a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>


      <div class="container">
		<div class="row nomargin">
          <div class="span4">
            <div class="logo">
              <a href="index.html"><img src="/static/img/logo.png" alt="" /></a>
            </div>
          </div>
          <div class="span8">
            <div class="navbar navbar-static-top">
<div class="navigation">
{% block nav %}
<nav>
<ul class="nav topnav">
<li><a href="http://localhost:8000">Home</a></li>
<li><a href="http://localhost:8000/about/">About</a></li>
<li><a href="http://localhost:8000/contact/">Contact</a></li>
<li class="dropdown">
<a href="http://localhost:8000/service/">Service
	<i class="icon-angle-down"></i>
</a>
<ul class="dropdown-menu">
<li>
	<a href="blog-left-sidebar.html">Latest News</a>
</li>
<li>
	<a href="blog-right-sidebar.html">Latest Events</a>
</li>
</ul>
</li>
<li><a href="http://localhost:8000/register/">Register</a></li>
<li><a href="http://localhost:8000/login/">Login</a></li>
</ul>
</nav>
{% endblock %}
</div>
<!-- end navigation -->
            </div>
          </div>
        </div>
      </div>


    </header>
    <!-- end header -->





<!-- section featured -->
{% block sectionfeatured %}
<section id="featured">

      <!-- slideshow start here -->

      <div class="camera_wrap" id="camera-slide">

        <!-- slide 1 here -->
        <div data-src="/static/img/slides/camera/slide1/img1.jpg">
          <div class="camera_caption fadeFromLeft">
            <div class="container">
              <div class="row">
                <div class="span6">
                  <h2 class="animated fadeInDown"><strong>Great Application To Find Location <span class="colored">multi usage</span></strong></h2>
                  <p class="animated fadeInUp"> 
                  This is an online location finder, to facilitate users to find nearby locations effectively	
                  </p>
                  <a href="#" class="btn btn-success btn-large animated fadeInUp">
											<i class="icon-link"></i> Read more
										</a>
                  <a href="#" class="btn btn-theme btn-large animated fadeInUp">
											<i class="icon-download"></i> Download
										</a>
                </div>
                <div class="span6">
                  <img src="/static/img/logo.png" alt="" class="animated bounceInDown delay1" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- slide 2 here -->
        <div data-src="/static/img/slides/camera/slide2/img1.jpg">
          <div class="camera_caption fadeFromLeft">
            <div class="container">
              <div class="row">
                <div class="span6">
                  <img src="/static/img/slides/camera/slide2/iMac.png" alt="" />
                </div>
                <div class="span6">
                  <h2 class="animated fadeInDown"><strong>Put your <span class="colored">Opt in form</span></strong></h2>
                  <p class="animated fadeInUp"> Vim porro dicam reprehendunt te, populo quodsi dissentiet cum ad. Ne natum deseruisse vis. Iisque deseruisse sententiae mel ne, dolores appetere vim ut. Sea no tamquam reprimique.</p>
                  <form>
                    <div class="input-append">
                      <input class="span3 input-large" type="text">
                      <button class="btn btn-theme btn-large" type="submit">Subscribe</button>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- slide 3 here -->
        <div data-src="/static/img/slides/camera/slide2/img1.jpg">
          <div class="camera_caption fadeFromLeft">
            <div class="container">
              <div class="row">
                <div class="span12 aligncenter">
                  <h2 class="animated fadeInDown"><strong><span class="colored">Responsive</span> and <span class="colored">cross broswer</span> compatibility</strong></h2>
                  <p class="animated fadeInUp">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                  <img src="/static/img/slides/camera/slide3/browsers.png" alt="" class="animated bounceInDown delay1" />
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- slideshow end here -->

</section>
<!-- endsection featured -->
{% endblock %}


<!-- section content -->
<section id="content">
<div class="container">
<div class="row">
<div class="span12">
{% block sectioncontent %}
            
<h1>Welcome to FindUs?</h1>            
<!-- write your content here -->
            
{% endblock %}

</div>
</div>
</div>
</section>
<!-- end section content -->    



<!-- footer starts -->
{% block footer %}
    <footer style="background-color:#222;">
      
{% block containerfooter %}

      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="widget">
              <h5 class="widgetheading">AboutUs</h5>
              <ul class="link-list">
                <li><a href="#">Our company</a></li>
                <li><a href="#">Terms and conditions</a></li>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Press release</a></li>
                <li><a href="#">What we have done</a></li>
                <li><a href="#">Our support forum</a></li>
              </ul>

            </div>
          </div>
          <div class="span4">
            <div class="widget">
              <h5 class="widgetheading">Contact Details</h5>
              <address>
							<strong>Django Inc.</strong><br>
							Universal Informatics Indore,(M.P.)<br>India
						</address>
              <p>
                <i class="icon-phone"></i> xxx-xxx-xxx-xxx<br>
                <i class="icon-envelope-alt"></i> email@domainname.com
              </p>
            </div>
          </div>
          <div class="span4">
            <div class="widget">
              <h5 class="widgetheading">Join Us</h5>
              <p>
                Keep updated for new releases and freebies. Enter your e-mail and subscribe to our newsletter.
              </p>
              <form class="subscribe">
                <div class="input-append">
                  <input class="span2" id="appendedInputButton" type="text">
                  <button class="btn btn-theme" type="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}

      <div id="sub-footer">
        <div class="container">
                {% block subfootercontainer %}

          <div class="row">
            <div class="span6">
              <div class="copyright">
                <p><span>&copy; Django_45 All right reserved 2019-2020</span></p>
              </div>

            </div>

            <div class="span6">
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Eterna
                -->
                Designed by <a href="https://bootstrapmade.com/">DjangoBatch</a>
              </div>
            </div>
          </div>
          {% endblock %}
        </div>
      </div>
    </footer>
{% endblock %}    
<!-- end footer -->

  </div>
  <a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>

  <!-- wrapper ends -->


  <!-- javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/jquery.easing.1.3.js"></script>
  <script src="/static/js/bootstrap.js"></script>

  <script src="/static/js/modernizr.custom.js"></script>
  <script src="/static/js/toucheffects.js"></script>
  <script src="/static/js/google-code-prettify/prettify.js"></script>
  <script src="/static/js/jquery.bxslider.min.js"></script>
  <script src="/static/js/camera/camera.js"></script>
  <script src="/static/js/camera/setting.js"></script>

  <script src="/static/js/jquery.prettyPhoto.js"></script>
  <script src="/static/js/portfolio/jquery.quicksand.js"></script>
  <script src="/static/js/portfolio/setting.js"></script>

  <script src="/static/js/jquery.flexslider.js"></script>
  <script src="/static/js/animate.js"></script>
  <script src="/static/js/inview.js"></script>

  <!-- Template Custom JavaScript File -->
  <script src="/static/js/custom.js"></script>

</body>
</html>
